{% extends "base.html" %}
{% block content %}
<div class="container" style="margin-left: 15px">
    <form method="get">
        {{ form.filter }}   
        <button type="submit" style="margin-left:10px">Фільтрувати</button>
    </form>
    
    <ul class="list-group">
        <h3 class="list-group-item">Кімнати:</h3>
        {% for room in rooms %}
        <li class="list-group-item"><a href="{% url 'reservation:room-detail' room.id %}">{{ room.number }}</a></li>
        {% endfor %}
    </ul>
</div>
<form method="GET" action='{% url "reservation:book-room" %}'>
    <button type="submit" class="btn btn-secondary" style="margin-left: 25px; margin-top:10px">
        Забронювати кімнату
    </button>
</form>
{% endblock %}